<!-- prettier-ignore -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  {% tailwind_css %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body class="bg-red-200 h-full flex justify-center items-center">
    <div class="flex flex-col my-20 center w-95 h-120 bg-gray-100 rounded-3xl">
      <form
        action="{% url 'login' %}"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="user-name p-3 mt-5 ml-5 text-2xl">
          <label class="font-semibold" for="{{form.username.id_for_label}}"
            >{{form.username.label}}</label
          >
          <input
            class="rounded-2xl p-2 border-1 border-gray-400 mt-2 w-80 text-sm"
            id="{{form.username.id_for_label}}"
            type="text"
            name="{{form.username.name}}"
            value="{{form.username.value}}"
          />
        </div>
        <div class="user-pass p-3 mt-5 ml-5 text-2xl">
          <label class="font-semibold" for="{{form.password.id_for_label}}"
            >{{form.password.label}}</label
          >
          <input
            class="rounded-2xl p-2 border-1 border-gray-400 mt-2 w-80 text-sm"
            id="{{form.password.id_for_label}}"
            type="password"
            name="{{form.password.name}}"
            value="{{form.password.value}}"
          />
          <button
            type="submit"
            class="bg-blue-500 w-70 text-white rounded-2xl p-2 mt-20 ml-5"
          >
            Login
          </button>
        </div>
      </form>
      <p class="mt-5 mx-auto text-1xl">
        Don't have an account?
        <a href="{% url 'register' %}" class="text-blue-500">Register here</a>
      </p>
    </div>
  </body>
</html>
